.form_dark_white{
	-fx-background-color:#F5F5F5;
}

.sub_form_color{
	-fx-border-color: #039BE5;
}

.text_field_color{
	-fx-text-fill: #039BE5;
	-fx-fill: #039BE5;
}

.text_field_color:hover{
	-fx-text-fill: #0277BD;
	-fx-fill: #0277BD;
}

.box_background-color{
	-fx-background-color: #039BE5,#F5F5F5,#F5F5F5;
	-fx-background-insets: 0.0 0.0 -2.0 0.0, 0.0 0.0 0.0 0.0, 0.0 -1.0 3.0 -1.0;
}


.button_radius{
	-fx-background-radius: 10.0px;
	-fx-border-radius: 10.0px;
	-fx-border-width: 1.0px;
}

.button_color{
	-fx-border-color: #039BE5;
	-fx-text-fill:#039BE5;
}

.button_color:hover{
	-fx-border-color: #0277BD;
	-fx-text-fill:#0277BD;
	-fx-background-color:#E0E0E0;
	
}


.warning_message{
	-fx-text-fill: red;
}

.tooltip {
    
    -fx-text-fill: #039BE5;
    -fx-border-color: #039BE5;
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 10.0px;
     -fx-border-radius: 10.0px;
   
    
}

